*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
.nav{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 6.5rem;
  background-color: #3B0000;
  position: fixed;
}
.nav h2{
  color: #F2ED6F;
  font-size: 2rem;
  }
  #object{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    #object li{
      list-style: none;
      padding-right: 50px;
    }
    #object li a{
      text-decoration: none;
      font-size: 1.5rem;
      color: #FFF6CD;
}

#object li a:hover,#object .icon i:hover{
  color: #FF5C58;
  cursor: pointer;

}
    #object .icon i{
      padding-right:30px;
      font-weight: bolder;
      color: #FFF6CD;
}
.background{
  background-image: url("background.jpg");
  width:100%;
  height:100vh;
  background-size: cover;
}
 .background .overlying{
  background: #171819;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.middle{
  position: absolute;
  top: 35%;
  left: 55%
}
.middle p{
  color: #FFF6CD;
  text-align: center;
padding-bottom: 1rem;
  font-size: 1.5rem;
}
.middle h2{
  color: #F8E1F4;
  text-align: center;
  font-size: 3.5rem;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}
.middle .button{
  text-align: center;
}
.middle .button a:hover{
  color: #FF5C58;
  cursor: pointer;
  background: #FFEDED;
  border: #FFEDED;
}
.middle .button a{
  color: #FFF6CD;
  text-decoration: none;
font-size: 1.5rem;
border: 1.5px solid #FFF6CD;
padding: 0.5rem 1.4rem;
}
.details{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 11rem;
  background: #171010;
}
.details h3,h6{
  color: #FFF6CD;
  }
  .details .One{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .details .One h3{
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
  }
  .details .One h6{
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1.3rem;
  }
  .details .One p{
    color: #444444;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  }
  .details .One a{
    color: #FFE5E2;
  background: #480032;
  padding:1rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  }
    .details .One a:hover{
      color: #480032;
    background:  #FFE5E2;
    }
  .details .two{
    width: 45%;
    border-left: 1px solid #FFF6CD;
    padding-left: 4rem;
  }
  .details .two h3{
    font-size: 2.5rem;
  }
  .details .two h5{
    font-size: 1.1rem;
    color: #FFF6CD;
  }
  .details .two p{
    font-size: 1.1rem;
    color: #444444;
    margin-bottom: 0.8rem;
  }
  .trainers{
    width: 100%;
    background: #171010;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .trainers .about{
    width: 45%;
    }

    .trainers .about h2{
        color: #A6F0C6;
        padding-bottom: 1.1rem;
        font-size: 2rem;
    }
    .trainers .about p{
        color: #D8E3E7;
        font-size: 1.3rem;
    }

  .trainers .people{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trainers .people .trainer1{
  width: 55%;
  height: auto;
  box-sizing:border-box;
  background: #171010;
  padding: 3rem;
  }
  .trainers .people .trainer1 .image img{
    width: 100%;
    object-fit: cover;
  }

  .trainers .people .trainer1 .name, .trainers .people .trainer1 .profession{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  }
    .trainers .people .trainer1 .name{
      padding: 5px 20px 0 20px;
    }
    .trainers .people .trainer1 .trainer1details{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    .trainers .people .trainer1 .name h4{
      color: #D8E3E7;
      font-size: 1.3rem;
    }
      .trainers .people .trainer1 .name i,  .trainers .people .trainer1 .profession i{
          color: #D8E3E7;
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: bolder;
      }
      .trainers .people .trainer1 .profession{
        padding: 0 20px 5px 20px;
      }
  .trainers .people .trainer1 .profession p{
      color: #F5D782;
font-size: 1.2rem;
  }
  .classes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      background: #171010;
    padding: 7rem 8rem;
  }
  .classes .paragraph{
    font-size: 1.3rem;
     color: #D8E3E7;
      padding-bottom: 7px;
      text-align: center;
  }
  .classes .TrainingClasses{
    font-size: 2.3rem;
     color: #F8E1F4;
      padding-bottom: 50px;
      font-weight: 700;
      text-align: center;
  }
    .classes .classMenu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }
  /* .classes .classMenu{
    width: 55%;
    height: auto;
    box-sizing:border-box;
    background: #171010;
  } */
    .classes .classMenu .trainer1{
      width: 45%;
      height: auto;
      box-sizing:border-box;
      background: #171010;
      padding: 3rem;
      }
        .classes .classMenu .trainer1 .image img{
      width: 100%;
      object-fit: cover;
      padding-bottom: 10px;
    }
    .classes .classMenu .trainer1 .trainer1details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
      }
        .classes .classMenu .trainer1 .trainer1details .name {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

        }
      .classes .classMenu .trainer1 .trainer1details .name .nameDetails h4 {
        color: #D8E3E7;
        font-size: 1.5rem;
}
  .classes .classMenu .trainer1 .trainer1details .name .nameDetails p{
      color: #F5D782;
      font-size: 1.1rem;
  }
  .classes .classMenu .trainer1 .trainer1details .name .nameDetails p span{
    font-weight: 700;
      font-size: 1.1rem;
  }
.classes .classMenu .trainer1 .profession p{
  color: #D8E3E7;
  font-size: 1.1rem;
}
.classes .classMenu .trainer1 .trainer1details .name .num h5{
    font-size: 1.1rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 3.2rem;
      color: #D8E3E7;
      background: #FF3F00;
      border-radius: 50%;
}
.contact{
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    background: #171010;
  }
  .contact .form{
    width: 50%
  }
  .contact .form h4{
    font-size: 3rem;
  color: #DA0037;
    padding-bottom: 10px;
      width: 100%;
  }
  .contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
  .contact .form .submit input, .contact .form .submit textarea{
    width: 100%;
    padding: 15px;
    /* border: 1px solid; */
    margin: 12px 0;
    outline: none;
  }
  .contact .form .submit input:focus, .contact .form .submit textarea:focus{
    border: 1.5px solid #111;
  }
  .contact .form .submit input::placeholder{
    font-size: 1.1rem;
  }
  .contact .form .submit a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #003638;
    color: #F3F1F5;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px 0;
  }
  .contact .address{
    width: 40%;
  }
.contact .address h2{
  color: #DA0037;
  padding-bottom: 10px;
}
.contact .address p i{
  color: #CE1212;
}
.contact .address p{
  font-size: 1.2rem;
  padding-bottom: 20px;
  color:  #D8E3E7;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D8E3E7;
    background: #171010;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
