*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}/* displaying menu items in rows
with some space between the, and they are aligned at centre and added backgroundcolor
stack order of 100000 */
.nav{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 6.5rem;
  background-color: #3B0000;
  z-index: 100000;
}
.nav h2{
  color: #F2ED6F;
  font-size: 2rem;
  }
  #object{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    #object li{
      list-style: none;
      padding-right: 50px;
    }
    #object li a{
      text-decoration: none;
      font-size: 1.5rem;
      color: #FFF6CD;
}
/* added hover effect and cursor pointer here*/
#object li a:hover,#object .icon i:hover{
  color: #FF5C58;
  cursor: pointer;

}
    #object .icon i{
      padding-right:30px;
      font-weight: bolder;
      color: #FFF6CD;
}
#bar{
  color: #FEFBF3;
  font-weight: lighter;
  font-size: 1.5rem;
  display: none;
}
/* setting the backgroup picture with
1. width
2.height
3. background size*/
.background{
  background-image: url("background.jpg");
  width:100%;
  height:100vh;
  background-size: cover;
}
/*added overlying to the background with opacity */
 .background .overlying{
  background: #171819;
  width: 100%;
  height: 100%;
  opacity: 0.65;
}
.middle{
  position: absolute;
  top: 35%;
  left: 55%
}
/*added color to the paragraph*/
.middle p{
  color: #FFF6CD;
  text-align: center;
padding-bottom: 1rem;/* 1rem=16px;*/
  font-size: 1.5rem;
}
.middle h2{
  color: #F8E1F4;
  text-align: center;
  font-size: 3.5rem;
  justify-content: space-around;
  padding-bottom: 1.5rem; /*guven padding bottom 1.5rem= 24px*/
}
.middle .button{
  text-align: center;
}
.middle .button a:hover{ /* Added hover effect to the Get Started button*/
  color: #FF5C58;
  cursor: pointer;
  background: #FFEDED;
  border: #FFEDED;
}
.middle .button a{
  color: #FFF6CD;
  text-decoration: none;
font-size: 1.5rem;
border: 1.5px solid #FFF6CD;
padding: 0.5rem 1.4rem; /*Given pading top and bottom of 0.5rem and 1.4rem of right and left sides*/
}
.details{
  width: 100%;
  display: flex;
  flex-direction: row; /*making flex direction row*/
  justify-content: space-between;
  align-items: center;
  padding: 5rem 11rem;
  background: #171010;
}
.details h3,h6{
  color: #FFF6CD;
  }
  .details .One{
    width: 45%;
    display: flex; /*display-flex is to set the length flexible items*/
    flex-direction: column;
    justify-content: space-between;
  }
  .details .One h3{
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
  }
  .details .One h6{
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 1.3rem;
  }
  .details .One p{
    color: #444444;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  }
  .details .One a{
    color: #FFE5E2;
  background: #480032;
  padding:1rem 0;
  text-align: center;
  text-decoration: none; /* here the text decoration will be none*/
  text-transform: uppercase; /*transforming text in uppercase*/
  }
    .details .One a:hover{
      color: #480032;
    background:  #FFE5E2;
    }
  .details .two{
    width: 45%;
    border-left: 1px solid #FFF6CD;
    padding-left: 4rem;
  }
  .details .two h3{
    font-size: 2.5rem;
  }
  .details .two h5{
    font-size: 1.1rem;
    color: #FFF6CD;
  }
  .details .two p{
    font-size: 1.1rem;
    color: #444444;
    margin-bottom: 0.8rem; /*given margin bottom*/
  }
  /*details class ends here*/

  .trainers{ /*trainers class starts from here*/
    width: 100%;
    background: #171010;
    padding: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* giving space between two trainer classes*/
    align-items: center;
  }
  .trainers .about{
    width: 39%;
    }
/*styling h2 tag with color, padding space length and size*/
    .trainers .about h2{
        color: #A6F0C6;
        padding-bottom: 1.1rem;
        font-size: 2rem;
    }
    .trainers .about p{
        color: #D8E3E7;
        font-size: 1.3rem;
    }

  .trainers .people{
    width: 57%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trainers .people .trainer1{ /*added trainer1 with the size of the border box*/
  width: 45%;
  height: auto;
  box-sizing:border-box;
  background: #171010;
  /* padding: 3rem; */
  }
  .trainers .people .trainer1 .image img{ /*setting trainer1 class image width of 100%*/
    width: 100%;
    object-fit: cover;
  }
  .trainers .people .trainer1 .trainer1details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }

  .trainers .people .trainer1 .trainer1details .name{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
      padding: 5px 20px 0 20px; /*added trainer1 name details with the given specific padding*/
  }

    .trainers .people .trainer1 .trainer1details .name h4{
      color: #D8E3E7;
      font-size: 1.5rem;
    } /*setting size of the font and weight, color to the trainer1 details like name and profession*/

      .trainers .people .trainer1 .trainer1details .name i,  .trainers .people .trainer1 .trainer1details .profession i{
          color: #D8E3E7;
            font-size: 1.2rem;
            cursor: pointer;
            font-weight: bolder;
      }
      .trainers .people .trainer1 .trainer1details .profession{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 5px 20px;
      }
  .trainers .people .trainer1 .trainer1details .profession p{
      color: #F5D782;
  }
  .trainers .people .trainer2{ /*setting trainer2*/
    width: 45%;
    height: auto;
    box-sizing:border-box;
    background: #171010;
      }
    .trainers .people .trainer2 .image img{ /*added image specifications to the trainer2 class*/
      width: 100%;
      object-fit: cover;
    }
    .trainers .people .trainer2 .trainer1details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
    }
/*styling the name of the  trainer2 details by making it display flexible
and in row direction by justifying space betweenthem*/
    .trainers .people .trainer2 .trainer1details .name{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
        padding: 5px 20px 0 20px;
    }

      .trainers .people .trainer2 .trainer1details .name h4{
        color: #D8E3E7;
        font-size: 1.5rem;
      }
        .trainers .people .trainer2 .trainer1details .name i,  .trainers .people .trainer2 .trainer1details .profession i{
            color: #D8E3E7;
              font-size: 1.2rem;
              cursor: pointer;
              font-weight: bolder;
        }
        .trainers .people .trainer2 .trainer1details .profession{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 20px 5px 20px;
        }
    .trainers .people .trainer2 .trainer1details .profession p{
        color: #F5D782;
    }

    /*trainers class ends here*/

  .classes{    /*classes class start from here with the display flex and given padding length*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      background: #171010;
    padding: 7rem 8rem;
  }
  .classes p.paragraph{
    font-size: 1.3rem;
     color: #D8E3E7;
      padding-bottom: 7px;
      text-align: center;
  }
  .classes h2.TrainingClasses{
    font-size: 2.2rem;
     color: #F8E1F4;
      padding-bottom: 50px;
      font-weight: 700;
      text-align: center;
  }
    .classes .classMenu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    }

    .classes .classMenu .trainer1{
      width: 32%;
      height: auto;
      box-sizing:border-box;
      background: #171010;
      }
      /*setting image width */
        .classes .classMenu .trainer1 .image img{
      width: 100%;
      object-fit: cover;
    }
    .classes .classMenu .trainer1 .trainer1details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
      }
        .classes .classMenu .trainer1 .trainer1details .name {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 5px 30px 0 30px;
        }
      .classes .classMenu .trainer1 .trainer1details .name .nameDetails h4 {
        color: #D8E3E7;
        font-size: 1.7rem;
}/*styling paragraph with the color and the size*/
  .classes .classMenu .trainer1 .trainer1details .name .nameDetails p{
      color: #F5D782;
      font-size: 1.1rem;
  }
  /*adding font weight and size to the span of paragraph*/
  .classes .classMenu .trainer1 .trainer1details .name .nameDetails p span{
    font-weight: 700;
      font-size: 1.1rem;
  }
  .classes .classMenu .trainer1 .trainer1details .name .num h5{
      font-size: 1rem;
      width: 3.5rem;
      height: 3.5rem;
      line-height: 3.5rem;
        color: #D8E3E7;
        background: #FF3F00;
        border-radius: 50%;
        text-align: center;
  }
/*styling profession class by
making it display flexible
and direction is column
aligning items starting of the flex
with given paddingrequirements*/
  .classes .classMenu .trainer1 .trainer1details .profession{
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     padding: 15px 30px 30px 30px;
  }

.classes .classMenu .trainer1 .trainer1details .profession p{
  color: #D8E3E7;
  font-size: 1.1rem;
}
/*styling of classes class closes here*/

.contact{ /*contact class styling start here*/
  padding: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    background: #171010;
  }
  .contact .form{
    width: 45%
  }
  .contact .form h4{
    font-size: 3rem;
  color: #DA0037;
    padding-bottom: 10px;
      width: 100%;
  }
  .contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
  /*styling input and textarea in submit class with no outline and given margin top and bottom is 13px */
  .contact .form .submit input,  textarea{
    width: 100%;
    padding: 15px;
    margin: 13px 0;
    outline: none;
  }
  /*added focus to the input and textarea */
  .contact .form .submit input:focus, .contact .form .submit textarea:focus{
    border: 1.5px solid #111;
  }
  .contact .form .submit input::placeholder{
    font-size: 1.1rem;
  }
  .contact .form  a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #003638;
    color: #F3F1F5;
    text-align: center;
    font-size: 1.5rem;
    margin: 13px 0;
  }
  .contact .address{
    width: 45%;
  }
.contact .address h2{
  color: #DA0037;
  padding-bottom: 10px;
}
.contact .address p i{
  color: #CE1212;
  padding-right: 4px;
}
.contact .address p{
  font-size: 1.2rem;
  padding-bottom: 30px;
  color:  #D8E3E7;
}
  .contact .address iframe{
    width: 100%;
  }
/*contact styling ends */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #D8E3E7;
    background: #171010;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
/*made the browser window screen with the max width of 1042 however
@media screen means the browser itself consider as desktop class where we can see page on screen width of 1042px
2. added styling to the different classes with the limit of the screen is 1042px*/
@media screen and (max-width: 1042px) {
  .nav{

    padding: 1rem 4.5rem;

  }
  .nav h2{
    font-size: 1.4rem;
    }

      #object li{
        padding-right: 30px;
      }
      #object li a{
        font-size: 0.9rem;
  }

  #object  i{
    padding-right: 20px;
  }
}
/*made the browser window screen with the max width of 991px however
@media screen means the browser itself consider as desktop class where we can see page on screen width of 991px
2. added styling to the different classes with the limit of the screen is 991px*/
@media screen and (max-width: 991px) {
  .nav{
    padding: 1rem 3rem;

  }
  .nav h2{
font-size: 1.6rem;
    }
    #object{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 80vh;
      background: rgba(0,0,0,0.8);
      z-index: 100000;
      margin-top: 4.2rem;
      transition: 0.5s;
      }
      #object li{
        padding-right: 0;
        padding: 4px 0;
      }
      #object li a{
        font-size: 1.2rem;
  }
    #object .icon{
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

        #object .icon i{
        padding-right: 0 15px 0 15px;
  }
  #bar{
  display: initial;
  cursor: pointer;
  }
  .middle p{
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
  }
  .middle h2{
    font-size: 2.6rem;
  }
  .middle .button{
  margin-top: 1.5rem;
  }
  .middle .button a{
  font-size: 1rem;
  }
    .middle .button a.simple{
      padding: 0.7rem 1.4rem;
    }
  .details{
    padding:6rem 7rem;
  }
    .details .One{
      width: 45%;
    }
    .details .One h3{
    font-size: 2.1rem;
    margin-bottom: 1rem;
    }
    .details .One h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
    }
    .details .One p{
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
    }
    .details .One a{
      font-size: 1rem;
    }

    .details .two{
      padding-left: 3.5rem;
    }
    .details .two h3{
      font-size: 2.1rem;
    }
    .details .two h5{
      font-size: 1.1rem;
    }
    .details .two p{
      font-size: 1.2rem;
      margin-bottom: 0.6rem;
    }
    .trainers{
      padding: 6rem 7rem;
    }
      .trainers .about h2{
          padding-bottom: 1.4rem;
          font-size: 2rem;
      }
      .trainers .about p{
          font-size: 1.1rem;
      }


  .trainers .people .trainer1{
    width: 50%;
    }

      .trainers .people .trainer1 .trainer1details .name{
        padding: 5px 15px 0 15px;
      }
          .trainers .people .trainer1 .trainer1details .name h4{
        font-size: 1.2rem;
      }
        .trainers .people .trainer1 .trainer1details .name i,  .trainers .people .trainer1 .trainer1details .profession i{
              font-size: 1.1rem;
      }
        .trainers .people .trainer1 .trainer1details .profession{
          padding:0 15px 5px 15px;
        }
    .trainers .people .trainer1 .trainer1details .profession p{
  font-size: 1.2rem;
    }
    .trainers .people .trainer2{
      width: 50%;
      }

        .trainers .people .trainer2 .trainer1details .name{
          padding: 5px 15px 0 15px;
        }
            .trainers .people .trainer2 .trainer1details .name h4{
          font-size: 1.1rem;
        }
          .trainers .people .trainer2 .trainer1details .name i,  .trainers .people .trainer1 .trainer1details .profession i{
                font-size: 1.1rem;
        }
          .trainers .people .trainer2 .trainer1details .profession{
            padding:0 15px 5px 15px;
          }
      .trainers .people .trainer2 .trainer1details .profession p{
    font-size: 1.2rem;
      }
    .classes{
      padding: 6rem;
    }
    .classes p.paragraph{
      padding-bottom: 4px;
      font-size: 1.2rem;
    }
    .classes h2.TrainingClasses{
      font-size: 2rem;
        padding-bottom: 30px;
    }
      .classes .classMenu .trainer1{
        width: 75%;
      }
      .classes .classMenu .trainer1 .trainer1details {
          padding-bottom: 7px;
        }

    .classes .classMenu .trainer1 .trainer1details .name {
  padding: 5px 15px 0 15px;
    }
        .classes .classMenu .trainer1 .trainer1details .name .nameDetails h4 {
        font-size: 1.2rem;
  }
    .classes .classMenu .trainer1 .trainer1details .name .nameDetails p{
        font-size: 1.2rem;
    }
    .classes .classMenu .trainer1 .trainer1details .name .nameDetails p span{
        font-size: 1.2rem;
    }
    .classes .classMenu .trainer1 .trainer1details .profession{
       padding: 15px 15px 30px 15px;
    }
  .classes .classMenu .trainer1 .trainer1details .profession p{
    font-size: 1rem;
  }
  .classes .classMenu .trainer1 .trainer1details .name .num h5{
      font-size: 1.1rem;
      width: 3.2rem;
      height: 3.2rem;
      line-height: 3.2rem;
  }
  .contact{
    padding: 6rem;
    }
    .contact .form h4{
      font-size: 2rem;
      padding-bottom: 7px;
    }
    .contact .form .submit input, .contact .form .submit textarea{
      padding: 12px;
      /* border: 1px solid; */
      margin: 10px 0;
    }
    .contact .form .submit input::placeholder{
      font-size: 1rem;
    }
    .contact .form .submit textarea{
      font-size: 1.2rem;
    }
    .contact .form{
      width: 100%;
      padding-bottom: 50px;
    }
    .contact .form a {
    padding: 13px 0 ;
    margin: 10px 0;
    font-size: 1rem;
  }

  .contact .address h2{
    font-size: 2rem;
    padding-bottom: 7px;
  }
  .contact .address p i{
    padding-right: 4px;
  }
  .contact .address p{
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .footer{
    padding: 6rem;
}
    /*made the browser window screen with the max width of 768px however
    @media screen means the browser itself consider as desktop class where we can see page on screen width of 768px
    2. added styling to the different classes with the limit of the screen is 768px*/
@media screen and (max-width: 768px) {
  .nav h2{
    padding: 1.5rem;
  }
.background{
  background-position: center;
}
  .middle p{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .middle h2{
    font-size: 2.1rem;
  }
  .middle .button{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .middle .button a{
  font-size: 0.9rem;
  }
    .middle .button a.simple{
      padding: 0.7rem 1.4rem;
      margin-bottom: 7px;
    }
  .details{
    padding:5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }
    .details .One{
      width: 70%;
    }
    .details .One a{
      font-size: 1.2rem;
    }

    .details .two{
     border-left: 0;
     border-top: 1px solid ;
     width: 70%;
     margin-top: 1.7rem;
     padding-top: 1.7rem;
    }
    .trainers{
      padding: 5rem 2rem;
      flex-direction: column;
      justify-content: center;
    }
  .trainers .about{
    width: 70%;
   margin-bottom: 1.7rem;
  }
      .trainers .about h2{
          font-size: 2.1rem;
      }
      .trainers .about p{
          font-size: 1.1rem;
      }


  .trainers .people{
    width: 70%;
    }
    .classes{
      padding: 6rem;
    }
    .classes .classMenu{
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .trainer1 {
    width: 65%;
    margin-bottom: 20px;
  }

  .contact{
    padding: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .contact .form h4{
      font-size: 2.5rem;
    }
    .contact .form{
      width: 70%;
        padding-bottom: 50px;
    }
    .contact .form .submit{
      padding-top: 30px;
    }
    .contact .address{
    width: 60%;
   margin-top: 20px;
   margin: auto;
    }

  .footer{
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: center;
  }
}
/*made the browser window screen with the max width of 496px however
@media screen means the browser itself consider as desktop class where we can see page on screen width of 496px
2. added styling to the different classes with the limit of the screen is 496px*/
@media screen and (max-width: 496px) {
  .nav h2{
  font-size: 1.5rem;
  }
  .middle p{
    margin-bottom: 0.8rem;
  }
  .middle h2{
    font-size: 1.8rem;
  }
  .details{
    padding:4rem 1rem;
    flex-direction: column;
    justify-content: center;
  }
    .details .One{
      width: 100%;
    }

    .details .two{
     width: 100%;
    }
    .trainers{
      padding: 4rem 1rem;
    }
  .trainers .about{
    width: 100%;
  }


  .trainers .people{
    width: 80%;
    flex-direction: column;
    justify-content: center;
    }
    .trainers .people .trainer1{
      width: 100%;
      margin-bottom: 20px;
    }
    .trainers .people .trainer2{
      width: 100%;
    }

    .classes{
      padding: 4rem 1rem;
    }
    .classes .classMenu{
    flex-direction: column;
    justify-content: center;
  }

  .class .classMenu .trainer1 {
    width: 100%;
  }

  .contact{
    padding: 4rem 1rem;
    }
    .contact .form{
    width: 100%;
    padding-bottom: 50px;
    }
    .contact .address{
    width: 100%;
    }

  .footer{
    padding: 5rem 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }
}
